@font-face {
    font-family: 'Elephant';
    src: url('../fonts/Elephant-Regular.woff2') format('woff2'),
        url('../fonts/Elephant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('../fonts/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../fonts/FuturaBT-HeavyItalic.woff2') format('woff2'),
        url('../fonts/FuturaBT-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

body{
    font-family: 'Elephant';
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1110px;
}

.container-height {
    height: 583.75px;
}


.light-logo {
    padding-top: 50px;
    padding-left: 621px;
    padding-bottom: 30px;
}

.myLink {
    font-family: 'Futura Md BT'!important;
    font-size: 16px;
    padding-bottom: 40px;
    text-decoration: none;
    color: white !important;
}

.for-gap {
    gap: 24px;
}

.myIcon {
    color: #ffffff;
}

.img-icon {
    width: 10px;
    color: #ffffff !important;
}

.lien-font {
    font-family: 'Futura Md BT' !important;
    font-size: 14px;
    color: #040404;
    text-wrap: nowrap;
    text-decoration: none;
}

.for-padding {
    padding: 20px 40px;
}

.sec-one {
    background-image: url(../imgs/bg_form.png);
    background-size: cover; 
    color: white !important;
    height: 282px;
}

.mt-5 {
    margin-top: 5rem !important;
}

.strong {
    font-family: 'Futura Md BT'!important;
    font-size: 24px;
}

small {
    font-family: 'Futura Md BT'!important;
    font-size: 14px;
    color: #455A64;
}

hr {
    background-color: rgb(#455A64, 0.5);
}

.pagination {
    font-family: 'Futura Md BT'!important;
    font-size: 14px;
    color: #455A64;;
}

input {
    font-family: 'Futura Bk BT'!important;
    color: #040404;
    height: 60px;
    width: 288px;
}

.bag-dark {
    background-color: #040404 !important;
}

.fa-calendar {
    color: #f2f2f2 !important;
}

.myBtn{
    color: #455A64 ;
    border: 0;
    width: 40px;
    height: 40px;
    text-align: center;
}


.myBtn:hover {
    color: #E00C19;
    transition: #E00c19 0.1s ease;
}


.myBtn:active {
    color: #E00C19;
    transition: #E00c19 0.1s ease;
}

.border-test {
    border-bottom:1px #455A64;
}

p {
    font-family: 'Futura Md BT' !important;
    font-size: 24px;
}